@import url("~bootstrap/css/bootstrap.min.css");
@import url("~bootstrapIcons/bootstrap-icons.min.css");

main {
    min-height: 100vh;
    background-color: #e7e7e7;
}

main.main-variant {
    min-height: calc(100vh - 76px);
}

section.container-auth {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 90%;
    max-width: 984px;
    min-height: 100vh;
    margin: 0 auto;
    padding: 5px;
}

div.process-block {
    display: none;
}

div.active-process-block {
    display: block;
}

div.active-process-block-flex {
    display: flex;
}

button#loading {
    display: none;
}

nav.navbar-customize a.nav-link,
nav.navbar-customize a.dropdown-item {
    color: #2c86fd;
}

.navbar-nav .nav-link.show {
    color: #2c86fd;
}
